<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tiregdev.atentik">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.splash_screen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.register"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.activity_main">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.edit_profile" />
        <activity android:name=".Activity.jadwal_kuliah" />
        <activity android:name=".Activity.login_dosen" />
        <activity
            android:name=".Activity.register_dosen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.statistik_view"
            android:noHistory="true" />
        <activity
            android:name=".Activity.home_2"
            android:noHistory="true" />
        <activity android:name=".Activity.peraturan" />
        <activity android:name=".Activity.detail_notif" />
        <activity android:name=".Activity.main_dosen" />
        <activity android:name=".Activity.detail_notif_dosen" />
        <activity android:name=".Activity.edit_profile_dosen" />
        <activity android:name=".Activity.jadwal_kuliah_dosen" />
        <activity android:name=".Activity.set_jadwal_masuk_dosen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.set_jadwal_masuk_dosen_2"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.log_mahasiswa"></activity>
    </application>

</manifest>